footer {
    width: 100lvw;
    height: $footer;
    // background: $secondary;

    &>div {
        height: 100%;
    }

    .navbar-brand {
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
    }
}